Elizabeth Baker<br>
SDEV 220 35N<br>
10APR2024<br>
M04 Programming Assignment

11.1<br>
Create a file called zoo.py which has a function that prints 'Open 9-5 daily'<br>
Import the zoo file and call the function

In [5]:
import zoo

zoo.hours()

Open 9-5 daily

11.2<br>
Import zoo.py as menagerie and call its function

In [6]:
import zoo as menagerie

menagerie.hours()

Open 9-5 daily

16.8<br>
Use sqlalchemy module to select and print the title column from the books table in alphabetical order;<br>
refer to previous questions to complete this.

In [32]:
#from 16.4
import sqlite3
conn = sqlite3.connect('books.db') #create database
curs = conn.cursor() #create cursor, which moves and iterates through database
#the cursor will make components of the table
#I don't think a title is a great primary key, but it will work for the data in 'books2.csv'
curs.execute('''CREATE TABLE books
             (title TEXT PRIMARY KEY,
             author TEXT,
             year INTEGER)''')

OperationalError: table books already exists

In [30]:
#from 16.5
import csv #import csv module so Python knows what to do
#I had difficulty understanding how to put together the CSV and SQLite sections of the textbook, so I referenced https://stackoverflow.com/questions/2887878/importing-a-csv-file-into-a-sqlite3-database-table-using-python

with open('books2.csv','r') as fileIn: #context manager
    dr = csv.DictReader(fileIn) #read the csv file using the DictReader function
    to_db = [(i['title'],i['author'],i['year']) for i in dr] #read each row and pass it to the variable to_db as a list of tuples

curs.executemany("INSERT INTO books (title,author,year) VALUES (?,?,?);", to_db) #insert each tuple from to_db and insert it into the database one at a time as a row
conn.commit()
#left connection open, but had difficulty in 16.8

IntegrityError: UNIQUE constraint failed: books.title

In [33]:
conn.close() #closed connection properly after completing 16.6 and 16.7, but before completing 16.8

In [14]:
#from 16.6; verify that values were imported as expected
curs.execute('SELECT title from books ORDER BY title') #curs.execute lets you use SQL functions
titles = curs.fetchall() #"fetches" results from the execute function and passes them to a variable that can be printed or otherwise manipulated by Python
print(titles) #it includes the comma in the results, but it prints the titles in the correct order

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

In [34]:
#from 16.7; verify that values were imported as expected again
curs.execute('SELECT * from books ORDER BY year')
pubDate = curs.fetchall()
print(pubDate) #there's an issue with Mieville's name's display; otherwise results are printed in correct order

ProgrammingError: Cannot operate on a closed database.

In [37]:
#finally 6.8
#pip install sqlalchemy
import sqlalchemy as sa
connSA = sa.create_engine('sqlite:///books.db') #create an engine and connect to the database using a new connection
type(connSA)
#help(connSA.execute) #AttributeError: 'Engine' object has no attribute 'execute'
#connSA.execute()
#titleSA = conn.execute('SELECT title from books ORDER BY title')
#print(titleSA)

sqlalchemy.engine.base.Engine